@model List<VisitorListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Sayfalar/</span>Ziyaretçiler</h4>
    <div class="row">
        <div class="card">
            <h5 class="card-header">Ziyaretçiler</h5>
            <div class="table-responsive text-nowrap">
                <a href="~/Admin/VisitorApi/AddVisitor" class="btn btn-success">Yeni Ziyaretçi Ekle</a>
                <br />
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>İsim</th>
                            <th>Soyisim</th>
                            <th>Şehir</th>
                            <th>Ülke</th>
                            <th>Mail</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var vis in Model)
                        {
                            <tr>
                                <td><span>@vis.VisitorId</span></td>
                                <td><span>@vis.Name</span></td>
                                <td><span>@vis.Surname</span></td>
                                <td><span>@vis.City</span></td>
                                <td><span>@vis.Country</span></td>
                                <td><span>@vis.Mail</span></td>
                                <td><span><a href="~/Admin/VisitorApi/DeleteVisitor/@vis.VisitorId" class="btn btn-danger">Sil</a></span></td>
                                <td><span><a href="~/Admin/VisitorApi/UpdateVisitor/@vis.VisitorId" class="btn btn-primary">Düzenle</a></span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="my-5" />
    </div>
</div>